<section class="opensource" id="opensource">
  <div class="opensource__card">
    <div class="opensource__grid">

      <div>
        <span class="opensource__icon"><app-icon name="code"></app-icon></span>
        <h2 class="opensource__title">{{ 'opensource.title' | translate }}</h2>
        <p class="opensource__text">{{ 'opensource.text' | translate }}</p>
      </div>

      <div class="opensource__action">
        <a class="button-dark" href="#acceso">
          {{ 'opensource.cta' | translate }}
          <app-icon name="arrow" [size]="19"></app-icon>
        </a>
        <p class="opensource__note">{{ 'opensource.note' | translate }}</p>
      </div>

    </div>
  </div>
</section>
